.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 12vh;
    z-index: 10;
    padding: 20px 50px;
  color: white;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background:linear-gradient(#111,rgba(17, 17, 17, 0.103)) ;
    &__logo{
        font-family: "Helvetica Neue","Netflix Sans",Arial, Helvetica, sans-serif;
        font-weight: 400;
        float: left;
    }
    &__profile{
        float: right;
        border-radius: 50%;
        width: 40px;
    }

    &__black{
        background-color: black;
        width: 100%;
    }
}
@media (max-width:500px) {
    .nav{
        width: 100vw;
    }
}